<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/static/styles/aboutus.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <!-- Title Bar -->
    <title>Affinity</title>
</head>

<body>
    <!-- BACKGROUND IMAGE -->
    <div class="bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.jpg');
        height: 100vh">
    </div>
    <!-- NAVBAR -->
       <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container-fluid">
            <div class="logo-image">
                <a href="/#">
                    <img src="/static/imgs/Affinity2.png" class="img-fluid">
                </a>
            </div>
            <a class="navbar-brand" href="/#" target="_self">Affinity</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/meetthechildren">Meet The Children</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/homes">Welfare Homes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <li><a class="dropdown-item" href="#">Statistics</a></li> -->
                            <li><a class="dropdown-item" href="http://cara.nic.in/">Government Portal</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success" type="button" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- JUMBOTRON -->
    <div class="container centered">
        <div class="head1 my-3 aboutus">
            <h1>Main Aim</h1>
            <h5>The driving factor behind this project is the lack of a proper general purpose application
                that serves the needs of the associated stakeholders.
                Even today, the process of fostering and adoption is cumbersome and time consuming.
                With our application, we not only aim to save time for our stakeholders but also remove the
                social stigma of fostering and adoption from society by creating an application
                that is welcoming and accessible to all.
                We also aim to contribute in building a system that is not bounded by distance.
                We imagine a world where a potential parent can foster and adopt a child regardless of their location.
            </h5>
        </div>
        <div class="head2 my-3 aboutus">
            <h1>Key Features</h1>
            <h5>
                We are one of the first ones to step in this domain and hence,
                our application is one-of-its-kind that
                caters to all the relevant needs of the concerned stakeholders.

                Contrary to contemporary adoption and fostering applications and websites,
                we believe in minimalism. We understand that at times, “Less is more” and hence,
                categorise information in a very specific manner and
                only provide the user with the information that is relevant to them.

                One of the key features of our application is the fact that we remove the
                prevalent barrier of distance and the medical conditions of the children
                in the fostering and adoption system. With the use of our
                application, you can connect with any foster and adoption home present anywhere in India.

                We empathise with the user’s needs and are sensitive towards the privacy of our user’s data.
                We understand our responsibilities and make sure to display the least possible
                but the most relevant information of the children to the potential partners.
                We have also included a feature to make anonymous donations. This way
                you can do your bit towards bringing a smile to a child’s face.

                We have created a system of investigation. Every potential parent has to create an account
                on our application. The information entered is verified from the government’s database
                and only after complete verification, the parent can access information of the children.
                This adds a layer of security and makes
                sure that only authentic profiles can access sensitive data.

            </h5>
        </div>
    </div>



    <!-- Optional JavaScript; -->
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>

</html>